button:first-of-type {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

i {
    font-size: 32px;
}

i:hover {
    font-size: 36px;
}

i:active {
    font-size: 36px;
    color: gray;
}