@import url('https://fonts.googleapis.com/css2?family=Geostar+Fill&display=swap');

@keyframes marqueeHorizontal {
    from {
        transform: translateX(52vw);
    }
    to {
        transform: translateX(-52vw);
    }
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
	}

	50% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.95);
	}
}

@keyframes marqueeVertical {
    from {
        transform: translateY(52vh);
    }
    to {
        transform: translateY(-52vh);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes scaleShip {
    from {
        transform: scale(1.2);
    }
    to {
        transform: scale(0.6);
    }
}

@keyframes rotateAgainst {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: absolute;
    overflow: hidden;
    background-image: url("../Images/star-background.jpg");
    background-size: cover;
    font-family: 'Geostar Fill', monospace;
    font-size: calc(10px + 0.5vw);
}

.container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    height: calc(90% - 100px);
    width: 100%;
    top: 100px;
}

img {
    /* Sonst ist der link "ziehbar", was bei hohen geschwindigkeiten dafür sorgt, dass er nicht funktioniert */
    -webkit-user-drag: none;
    width: 70px;
} 

.overlay {
    background-color: rgba(255, 255, 255, 0.4);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.startform {
    width: clamp(270px, 27vw, 450px);
    height: clamp(370px, 37vw, 600px);
    background-color: #ffc909;
    border-radius: 4vw;
}

form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form>h2 {
    text-align: center;
    margin: 0;
    margin-top: 0.5vw;
}

form>p {
    margin: 0 1vw;
    text-align: justify;
    letter-spacing: 0.5px;
}

.select-container>div {
    display: flex;
    justify-content: space-between;
    margin: 1vw;
}

input {
    width: 20px;
    cursor: pointer;
}

form>button {
    width: clamp(40px, 6vw, 200px);
    height: clamp(40px, 3vw, 50px);
    border-radius: 10px;
    font-family: 'Geostar Fill', monospace;
    font-size: calc(10px + 0.5vw);
    animation: pulse 0.7s infinite;
    cursor: pointer;
}

.hidden {
    transform: scale(0);
    font-family: 'Geostar Fill', monospace;
}

h3 {
    position: fixed;
    top: 4vh;
    right: 4vw;
    color: white;
    font-size: clamp(15px, 2vw, 30px);
}

.starship {
    display: block;
    position: relative;
    width: 70px;
    height: 70px;
    background-size: cover;
    animation: marqueeHorizontal 6s linear infinite;
    /* Sonst ist der link "ziehbar", was bei hohen geschwindigkeiten dafür sorgt, dass er nicht funktioniert */
    -webkit-user-drag: none;
}

.visible {
    visibility: hidden;
}

a>.fa-house {
    position: fixed;
    top: 20px;
    left: 20px;
    color: white;
    font-size: 2.5rem;
    border: 3px solid white;
    border-radius: 10px;
    padding: 1rem;
}

/* Styles für finish.html */

body.finish {
    background-image: url("../Images/fireworks.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

.message {
    position: fixed;
    top: 50vh;
    left: 50vw;
    margin-top: -20vh;
    margin-left: -30vw;
    width: 60vw;
    height: 40vh;
    border-radius: 2rem;
    box-shadow: 0 0 15px white;
    background-color: rgba(255, 255, 255, 0.6);
}

.message>p, 
.message>h2 {
    margin: 3rem;
    text-align: center;
}

.message>h2 {
    font-size: 3rem;
}

.message>p {
    font-size: 1.5rem;
}