@keyframes marquee {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}

.starship {
    position: absolute;
    left: 0;
    height: 40%;
    width: 100%;
    top: 200px;
    animation: marquee 4s linear infinite;
    font-size: 40px;
}

img {
    width: 70px;
}
