body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #222;
    position: relative;
}

.starship {
    position: absolute;
    width: 100%;
    left: 0;
    top: 200px;
    background-color: orange;
    animation: marquee 4s linear infinite;
}

@keyframes marquee {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}