@import url('https://fonts.googleapis.com/css2?family=Geostar+Fill&family=Monoton&family=Plaster&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Geostar Fill', monospace;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.first-body {
    background-image: url("../Images/Millennium-Falcon.webp");
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    place-items: center;
}

.text-container {
    background-color: rgba(189, 141, 98, 0.781);
    width: max(600px, 40vw);
    height: max(600px, 80vh);
    border-radius: 4vw;
    display: grid;
    grid-template-rows: 6fr 1fr;
    overflow: auto;
    box-shadow: 0 0 25px rgba(189, 141, 98);
}

.text-container:hover {
    transform: scale(1.02);
    background-color: rgba(189, 141, 98, 0.86);
}

h3 {
    padding: 1rem;
    margin: 0 auto;  
    text-align: center;
    font-family: 'Monoton', monospace;
    font-size: calc(20px + 1.3vw);
} 

p {
    padding: 1rem;
    font-size: calc(12px + 0.8vw);
    font-family: 'Geostar Fill', monospace;
    text-align: justify;
    margin: 1rem;
    padding: 0;
}

a.start-link {
    margin: 0 auto;
    height: 5rem;
    width: 10rem;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    text-decoration: none;
    border-radius: 1rem;
    border: 5px solid #222;
    color: #222;
    font-family: 'Geostar Fill', monospace;
    background-color: rgba(189, 141, 98);
    box-shadow: 0 0 5px #222;
}

a.start-link:visited {
    color: #222;
}

a.start-link:hover {
    transform: scale(1.05) rotate(-1deg);
}

/* CSS For the second side */

body.second-body {
    background-image: url("../Images/Jabba.webp");
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    place-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.button-container {
    width: 40vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

i {
    font-size: max(45px, 7rem);
    padding: 1rem;
    background-color: transparent;
}

button.option {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    border-radius: 10px;
    background-color: oldlace;
    padding: 0;
}

button.option:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px #888;
}

button.option:active {
    transform: scale(1);
    background-color: #f8f8f8;
}

.scoreboard {
    width: 40vw;
    height: 20vh;
    border-radius: 10px;
    background-color: oldlace;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.scoreboard>div {
    margin-right: 30%;
}

div>span {
    display: inline-block;
    margin-left: auto;
}

.spacer {
    display: inline-block;
    margin: 0 auto;
}

.score {
    margin-left: 1rem; 
    font-size: 1.5rem;
    display: flex;
    gap: auto;
}